div#date-time {
    margin: auto;
}

#logo {
    width: 100px;
    margin: auto;
    background: white;
    padding: 11px;
    text-align: center;
    height: 100px;
    display: flex;
    align-items: center;
    color: black !important;
    margin-bottom: 10px;
    text-align: left;
    font-size: 29px;
    border-radius: 15px 15px;
}

#logo-subtitle {
    margin-bottom:2rem
}

.loader {
    text-align: center;
    margin: auto;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #7a7a7a;
    width: 35px;
    height: 35px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }